body{
    background-image: url('../image/homeImg.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
